@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body making divs pile up on top of each other w flex/column */
body {
    background-color: rgb(3, 3, 114);
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display SC', serif;
    font-size: 90;
    text-align: center;
    color: wheat;
}

/* game area sizing to fit player computer and choice inside */
.game-area {
    height: 80vh;
    width: 100%;
    background-color: rgb(61, 3, 115);
}


/* Anouncement who wins */
#who-wins {
    font-size: 4vh;
    transform: translateY(10%);
}

/* play area placed in middle */
.play-area {
    height: 50vh;
    width: 100%;
    background-color: rgb(72, 48, 48);
    margin-top: 2vh;
}

/* player area placed to the right */
.player {
    height: 92%;
    width: 50%;
    background-color: rgb(3, 72, 3);
    float: right;
    margin-top: 2vh;
}

.player img {
    margin-top: 6%;
    transform: scale(0.85) rotateY(180deg);
}


/* computer area placed to the left */
.computer {
    height: 92%;
    width: 50%;
    background-color: rgb(138, 5, 5);
    float: left;
    margin-top: 2vh;
}

.computer img {
    margin-top: 6%;
    transform: scale(0.85);
}

/* button area same sizes, radius, and different colors */
.play-options button {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 5vh;
    color: rgb(43, 36, 36);
}

#scissors {
    background-color: rgb(217, 128, 158);
}

#paper {
    background-color: rgb(43, 199, 199);
}

#rock {
    background-color: rgb(243, 243, 62);
}

/* Start button style */
#intro {
    height: 70px;
    width: 150px;
    border-radius: 5px;
    color: rgb(43, 36, 36);
    background-color: greenyellow;
    transform: translateY(-10vh);
}

/* Score area */
.score-play {
    background-color: wheat;
    color: rgb(3, 72, 3);
    width: 100%;
    text-align: left;
}

.score-comp {
    background-color: wheat;
    color: rgb(138, 5, 5);
    width: 100%;
    text-align: left;
}


/* buttons responsive */
@media screen and (max-width: 388px) {
    button {
        height: 40px;
        width: 80px;
    }
    
}

/* Start of computer and player img responsive */
@media screen and (max-width: 485px) {
    .player img {
        height: 95%;
        width: 95%;
    }

    .computer img {
        height: 95%;
        width: 95%;
    }
}

@media screen and (min-width: 650px) {
    .player img {
        height: 55%;
        width: 55%;
    }

    .computer img {
        height: 55%;
        width: 55%;
    }
    
}

@media screen and (min-width: 890px) {
    .player img {
        height: 45%;
        width: 45%;
    }

    .computer img {
        height: 45%;
        width: 45%;
    }
    
}

@media screen and (min-width: 1080px) {
    .player img {
        height: 40%;
        width: 40%;
    }

    .computer img {
        height: 40%;
        width: 40%;
    }
    
}
/* End of computer and player responsive */
